body{
    background-color: azure;
    font-family: "Comic Sans MS";
}

.jumbotron{
    background-color: #C4FAF8;
    font-family: "Times New Roman";
    text-align: center;
}
.container-fluid{
    background-color: #AFF8DB;
}
.header-container{
    background-color: #BFF9EB;
}

