img {
    display: block;
    margin:auto;   
}

.navbar-default{
    background-color: white;
}
.btn{
    background-color: white;
}
button:hover{
    background-color: gray;
    text-decoration-color: azure;
}
button:active {
    background-color: #b31217;
}
p {
    text-align: left;
}